body 
    margin: 0
    background: white


h1, h2, h3, h4, h5, h6
    color: green


img
    border-radius: 50%

.toggleDarkMode
    background: black
    color: white

#button-darkMode
    background-color: None
    border-radius: 50%

.grid-container
    display: grid
    grid-template-columns: auto auto auto
    background-color: #2196F3
    padding: 10px

    