body 
    margin: 0
    background: white


h1, h2, h3, h4, h5, h6
    color: green


img
    border-radius: 50%

.toggleDarkMode
    background: black
    color: white

#button-darkMode
    background-color: #34495e
    border-radius: 4px
    color: white
#button-darkMode:hover 
    background-color: #243445

#button-darkMode:active
    transform: translateY(4px)

.grid-container
    display: grid
    grid-template-columns: auto auto auto
    background-color: #2196F3
    padding: 10px


#circle 
    width: 100px
    height: 100px
    background: red
    -moz-border-radius: 50px
    -webkit-border-radius: 50px
    border-radius: 50px
    