h1 {
  color: white;
  font-family: "Roboto Mono" monospace;
  font-weight: 400; }

.scene {
  height: 300px;
  width: 300px;
  border-radius: 6px;
  margin: 0;
  padding: 300px;
  justify-content: center;
  background: radial-gradient(circle, #e73c7e, #003366 100%);
  background-size: 400% 400%;
  perspective: 800px;
  animation: backgraound-radial-gradient 30s ease infinite; }

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 20s linear infinite;
  font-size: 2.5em;
  transform: scale(2.5); }
  .cube h1 {
    color: white;
    font-family: monospace; }
  .cube:hover {
    animation-play-state: paused; }

.top {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 2px;
  background: rgba(255, 0, 0, 0.5);
  outline: 6px solid white;
  transform: rotate3d(1, 0, 0, 90deg) translateZ(150px);
  line-height: 300px;
  text-align: center; }
  .top:hover {
    background: red;
    transform: scale(1.1) rotate3d(1, 0, 0, 90deg) translateZ(200px);
    transition-duration: 1s; }

.Front {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 2px;
  background: rgba(0, 255, 0, 0.5);
  outline: 6px solid white;
  transform: rotate3d(1, 0, 0, 0deg) translateZ(150px);
  line-height: 300px;
  text-align: center; }
  .Front:hover {
    background: lime;
    transform: scale(1.1) rotate3d(1, 0, 0, 0deg) translateZ(200px);
    transition-duration: 1s; }

.Right {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 2px;
  background: rgba(0, 0, 255, 0.5);
  outline: 6px solid white;
  transform: rotate3d(0, 1, 0, 270deg) translateZ(150px);
  line-height: 300px;
  text-align: center; }
  .Right:hover {
    background: blue;
    transform: scale(1.1) rotate3d(0, 1, 0, 270deg) translateZ(200px);
    transition-duration: 1s; }

.Left {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 2px;
  background: rgba(255, 255, 0, 0.5);
  outline: 6px solid white;
  transform: rotate3d(0, 1, 0, 90deg) translateZ(150px);
  line-height: 300px;
  text-align: center; }
  .Left:hover {
    background: yellow;
    transform: scale(1.1) rotate3d(0, 1, 0, 90deg) translateZ(200px);
    transition-duration: 1s; }

.Bottom {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 2px;
  background: rgba(0, 255, 255, 0.5);
  outline: 6px solid white;
  transform: rotate3d(1, 0, 0, 90deg) translateZ(-150px);
  line-height: 300px;
  text-align: center; }
  .Bottom:hover {
    background: cyan;
    transform: scale(1.1) rotate3d(1, 0, 0, 90deg) translateZ(-200px);
    transition-duration: 1s; }

.Back {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 2px;
  background: rgba(255, 0, 255, 0.5);
  outline: 6px solid white;
  transform: rotate3d(1, 0, 0, 0deg) translateZ(-150px);
  line-height: 300px;
  text-align: center; }
  .Back:hover {
    background: magenta;
    transform: scale(1.1) rotate3d(1, 0, 0, 0deg) translateZ(-200px);
    transition-duration: 1s; }

@keyframes rotate {
  0% {
    transform: translateZ(-100px) rotateY(0deg); }
  10% {
    transform: translateZ(-100px) rotateY(-90deg); }
  20% {
    transform: translateZ(-100px) rotateY(-180deg); }
  30% {
    transform: translateZ(-100px) rotateY(90deg); }
  40% {
    transform: translateZ(-100px) rotateX(-90deg); }
  50% {
    transform: translateZ(-100px) rotateX(90deg); }
  60% {
    transform: translateZ(-100px) rotateX(-90deg); }
  70% {
    transform: translateZ(-100px) rotateY(90deg); }
  80% {
    transform: translateZ(-100px) rotateY(-180deg); }
  90% {
    transform: translateZ(-100px) rotateY(-90deg); }
  100% {
    transform: translateZ(-100px) rotateY(0deg); } }
@keyframes backgraound-radial-gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/*# sourceMappingURL=cube.css.map */
