<!DOCTYPE html>
<html lang="en">

    {%- include head.html -%}

    <body>
        {%- include header.html -%}
        <main class="page-content" aria-label="Content">
            <div class="wrapper">


                <h1>CSS Picture Frame</h1>
                <div class = “border”>
                    <div class = “padding”>
                        <div class = “content”>
                            &#127856;
                        </div>
                        <div id = “inputs”>
                            <input type="range" name="" id=""  min="10" max="100">
                        </div>
                    </div>
                </div>


            </div>
        </main>
        {%- include footer.html -%}
    </body>
</html>