<!DOCTYPE html>
<html lang="en">

    {%- include box-head.html -%}


    <body id="box-body">
        {%- include header.html -%}


        <main class="page-content" aria-label="Content">
            <div class="wrapper">


                <h1>CSS Picture Frame</h1>
                <div class = “border”>
                    <div class = “padding”>
                        <div class = “content”>
                            &#127856;
                        </div>
  
                        <div id = “inputs”>

                            <div id="sliders">
                                <h3>Border: </h3>
                                <input type="range" name="" id="border-range"  min="10" max="100">
                                
                                <h3>Padding: </h3>
                                <input type="range" name="" id="padding-range" min="10" max="100">
                                
                                <h3>Content: </h3>
                                <input type="range" name="" id="content-range" min="10" max="100">
                            </div>

                        </div>

                        <div id = “colors”>
                            <h3>Border:</h3>
                            <input type="color" name="" id="border-color">
                            
                            <h3>Padding</h3>
                            <input type="color" name="" id="padding-color">
                            
                            <h3>Content</h3>
                            <input type="color" name="" id="content-color">
                        </div>
            
                    </div>
                </div>


            </div>
        </main>
        {%- include footer.html -%}
    </body>

</html>