<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ "assets/css/terminal.css" | relative_url }}">
    <script src="{{ 'CoffeeScripts/js/terminal.js' | relative_url }}" defer></script>
</head>

<html>
    {%- include head.html -%}
    {%- include header.html -%}

    <body>

        <div class="Terminal">
            <div class="mainCont">

                <div class="empty-box"></div>

                <div class="terminalCont">
                    <div id="terminalResults"> </div>
                </div>

                <form id="terminalInput">

                    <input id="terminalTextInput", type="text", autocomplete="off", spellcheck="false" ></input>
                    
                </form>

            </div>

            <div class="wrapper">
    
                <div class="empty-box"></div>

                    {{ content }}

                <div class="empty-box"></div>

            </div>
        
        </div>
        {%- include footer.html -%}
    </body>
</html>



