

{%- include head.html-%}
<head>
    <link rel="stylesheet" href="{{ "assets/css/tesseract.css" | relative_url }}">
    <script src="{{ 'TypeScripts/js/cube.js' | relative_url }}" defer></script>   
</head>




<html>

    <body>

        {%- include header.html-%}

        <div class="wrapper">

            <main class="page-content" aria-label="Content">

                {{ content }}

                <br>
                <div class="scene">
                
                    <div class="tesseract">

                        <div class = "cube1">
        
                            <div class="Top1">
                                <a href="{{ "/" | relative_url }}">  
                                    <h1>上</h1>
                                </a>
                            </div>
                            <div class="Front1">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>前</h1>
                                </a>
                                
                            </div>
                            <div class="Right1">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>右</h1>
                                </a>
                                
                            </div>
                            <div class="Left1">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>左</h1>
                                </a>
                                
                            </div>
                            <div class="Bottom1">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>下</h1>
                                </a>
                                
                            </div>
                            <div class="Back1">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>后</h1>
                                </a>
                            </div>
            
                        </div>
                        <div class = "cube2">
        
                            <div class="Top2">
                                <a href="{{ "/" | relative_url }}">  
                                    <h1>上</h1>
                                </a>
                            </div>
                            <div class="Front2">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>前</h1>
                                </a>
                                
                            </div>
                            <div class="Right2">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>右</h1>
                                </a>
                                
                            </div>
                            <div class="Left2">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>左</h1>
                                </a>
                                
                            </div>
                            <div class="Bottom2">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>下</h1>
                                </a>
                                
                            </div>
                            <div class="Back2">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>后</h1>
                                </a>
                            </div>
            
                        </div>
                        <div class = "cube3">
        
                            <div class="Top3">
                                <a href="{{ "/" | relative_url }}">  
                                    <h1>上</h1>
                                </a>
                            </div>
                            <div class="Front3">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>前</h1>
                                </a>
                                
                            </div>
                            <div class="Right3">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>右</h1>
                                </a>
                                
                            </div>
                            <div class="Left3">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>左</h1>
                                </a>
                                
                            </div>
                            <div class="Bottom3">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>下</h1>
                                </a>
                                
                            </div>
                            <div class="Back3">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>后</h1>
                                </a>
                            </div>
            
                        </div>
                        <div class = "cube4">
        
                            <div class="Top4">
                                <a href="{{ "/" | relative_url }}">  
                                    <h1>上</h1>
                                </a>
                            </div>
                            <div class="Front4">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>前</h1>
                                </a>
                                
                            </div>
                            <div class="Right4">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>右</h1>
                                </a>
                                
                            </div>
                            <div class="Left4">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>左</h1>
                                </a>
                                
                            </div>
                            <div class="Bottom4">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>下</h1>
                                </a>
                                
                            </div>
                            <div class="Back4">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>后</h1>
                                </a>
                            </div>
            
                        </div>
                        <div class = "cube5">
        
                            <div class="Top5">
                                <a href="{{ "/" | relative_url }}">  
                                    <h1>上</h1>
                                </a>
                            </div>
                            <div class="Front5">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>前</h1>
                                </a>
                                
                            </div>
                            <div class="Right5">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>右</h1>
                                </a>
                                
                            </div>
                            <div class="Left5">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>左</h1>
                                </a>
                                
                            </div>
                            <div class="Bottom5">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>下</h1>
                                </a>
                                
                            </div>
                            <div class="Back5">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>后</h1>
                                </a>
                            </div>
            
                        </div>
                        <div class = "cube6">
        
                            <div class="Top6">
                                <a href="{{ "/" | relative_url }}">  
                                    <h1>上</h1>
                                </a>
                            </div>
                            <div class="Front6">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>前</h1>
                                </a>
                                
                            </div>
                            <div class="Right6">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>右</h1>
                                </a>
                                
                            </div>
                            <div class="Left6">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>左</h1>
                                </a>
                                
                            </div>
                            <div class="Bottom6">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>下</h1>
                                </a>
                                
                            </div>
                            <div class="Back6">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>后</h1>
                                </a>
                            </div>
            
                        </div>
                        <div class = "cube7">
        
                            <div class="Top7">
                                <a href="{{ "/" | relative_url }}">  
                                    <h1>上</h1>
                                </a>
                            </div>
                            <div class="Front7">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>前</h1>
                                </a>
                                
                            </div>
                            <div class="Right7">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>右</h1>
                                </a>
                                
                            </div>
                            <div class="Left7">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>左</h1>
                                </a>
                                
                            </div>
                            <div class="Bottom7">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>下</h1>
                                </a>
                                
                            </div>
                            <div class="Back7">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>后</h1>
                                </a>
                            </div>
            
                        </div>
                        <div class = "cube8">
        
                            <div class="Top8">
                                <a href="{{ "/" | relative_url }}">  
                                    <h1>上</h1>
                                </a>
                            </div>
                            <div class="Fron8t">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>前</h1>
                                </a>
                                
                            </div>
                            <div class="Right8">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>右</h1>
                                </a>
                                
                            </div>
                            <div class="Left8">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>左</h1>
                                </a>
                                
                            </div>
                            <div class="Bottom8">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>下</h1>
                                </a>
                                
                            </div>
                            <div class="Back8">
                                <a href="{{ "/" | relative_url }}">
                                    <h1>后</h1>
                                </a>
                            </div>
            
                        </div>

                    </div>
                </div>
                <br>

            </main>
    

        </div>

        <br><br>
        {%- include footer.html-%}

    </body>

</html>




