
<html>

    <body>

        {%- include head.html -%}
        {%- include header.html -%}

        <head>
            <link rel="stylesheet" href="{{ "assets/css/textEditor.css" | relative_url }}">
            <script src="{{ 'CoffeeScripts/js/textEditor.js' | relative_url }}" defer></script>
        </head>
        
        <main class="page-content" aria-label="Content">
            <div class="wrapper">


                <div class="Editor">
                    <textarea > test </textarea>
                    <div class="black-page">
                        <input type="text", placeholder="Super Beta TextEditor Lets code"></input>
                    </div>
                </div>


                {{ content }}

            </div>
            
        </main>
        {%- include footer.html -%}
    </body>
  

</html>