
<html>

    <body>

        {%- include head.html -%}
        {%- include header.html -%}

        <head>
            <link rel="stylesheet" href="{{ "assets/css/textEditor.css" | relative_url }}">
            <script src="{{ 'CoffeeScripts/js/textEditor.js' | relative_url }}" defer></script>
        </head>
        
        <main class="page-content" aria-label="Content">
            <div class="wrapper">

                <h1 id="title">Text Editor Here</h1>
            
                <!-- Editor Block -->
                <div class="Editor-Container">
                    <div class="Container">

                        <div class="col", id="col">

                            <div class="row">
                                <pre id="editor", contenteditable="true", autocomplete="false", spellcheck="false")> Edit Here</pre>
                            </div>
                            
                            <div class="row">
                                <pre id="ans">Test Botton Here</pre>
                            </div>
    
                        </div>

                    </div>
                </div>



            </div>
        </main>

        <!-- Need to fix bottom spacing -->
        <div><br><br></div>

        {%- include footer.html -%}
    </body>
  

</html>